node_modules/
dist/
.npm-cache/
release/*
!release/
!release/Accio-Switch-0.2.9.exe
!release/Accio-Switch-0.3.0.exe
!release/Accio-Switch-0.3.1.exe
!release/Accio-Switch-0.3.2.exe
!release/Accio-Switch-0.3.3.exe
!release/Accio-Switch-0.3.4.exe
!release/Accio-Switch-0.3.5.exe
!release/Accio-Switch-0.3.6.exe
src-tauri/target/
artifacts/*.png
artifacts/*.json
npm-debug.log*
